{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box has-background-primary">
                        First
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-primary">
                        Second
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-primary">
                        Third
                    </div>
                </div>
            </div>
        </div>
blablabla
<img src="{{ MEDIA_URL }}img.jpg" />

    {% block content %}
   {% endblock %}
        <!-- <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% for post in posts %}
                    <div class="post">
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        <h1><a href="">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div> -->
    </body>
</html>
