{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Movie like Jagger</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% for movie in movies %}
                    <div class="post">
                        <h1><a href=""  class="movie__link" data-id="{{ movie.id }}">{{ movie.name }}</a></h1>
                        <p>{{ movie.description|linebreaksbr }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </body>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript">
        $('.movie__link').click(function(){
        var id;
        id = $(this).attr("data-id");
        $.ajax(
        {
            type:"GET",
            url: "localhost/movieSchedule",
            data:{
                     movie_id: id
            },
            success: function( movie ) 
            {
                alert('success');
            }
         })
    });
    </script>
</html>