{% extends 'blog/base.html' %}

{% block content %}

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-5 is-offset-1">
				<h2 class="title is-2">< Hackatons ></h2>
				<div class="content">
					<ul>
						<li>
							<h3 class="title is-3">Hackatone#1</h3>
							<p class="subtitle">Lorem ipsum dolor sit amet.</p>
							<div class="buttons">
								<a href="#" class="button is-info is-rounded">Teams</a>
								<a href="#" class="button is-success is-rounded">Enroll</a>
							</div>
						</li>
						<hr class="hr">
						<li>
							<h3 class="title is-3">Hackatone#2</h3>
							<p class="subtitle">Lorem ipsum dolor sit amet.</p>
							<div class="buttons">
								<a href="#" class="button is-info is-rounded">Teams</a>
								<a href="#" class="button is-success is-rounded">Enroll</a>
							</div>
						</li>
						<hr class="hr">
						<li>
							<h3 class="title is-3">Hackatone#3</h3>
							<p class="subtitle">Lorem ipsum dolor sit amet.</p>
							<div class="buttons">
								<a href="#" class="button is-info is-rounded">Teams</a>
								<a href="#" class="button is-success is-rounded">Enroll</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="column is-narrow">
				<div class="box">
					<h2 class="title">Rating top 10</h2>
					<table class="table is-striped">
						<thead>
							<tr>
								<th><abbr title="Position">Pos</abbr></th>
								<th><abbr title="Name">Team</abbr></th>
								<th><abbr title="Name">Rating</abbr></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>1</th>
								<td><a href="#">TeamName#1</a></td>
								<td>10.0</td>
							</tr>
							<tr>
								<th>2</th>
								<td><a href="#">TeamName#2</a></td>
								<td>7.0</td>
							</tr>
							<tr>
								<th>3</th>
								<td><a href="#">TeamName#3</a></td>
								<td>6.0</td>
							</tr>
							<tr>
								<th>4</th>
								<td><a href="#">TeamName#4</a></td>
								<td>5.5</td>
							</tr>
							<tr>
								<th>5</th>
								<td><a href="#">TeamName#5</a></td>
								<td>3.9</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
	
{% endblock %}