<!DOCTYPE html>
<html>
<head>
	<title>Movie Schedule</title>
</head>
<body>
	<h1>{{movie.name}}</h1>
	<p>{{movie.descripton}}</p>

	{% for mh in movieHall %}
		<h3>{{mh}}</h3>
		<p> {{mh.time}}</p>
		<p>{{mh.hall}} in {{mh.hall.cinema}}</p>
		<button class="tickets" data-id="{{mh.id}}">show tickets</button>
		<div class="tickets__content tickets__content_{{mh.id}}"></div>
		<hr>
		
	{% endfor %}




</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script type="text/javascript">
   
    $('.tickets').click(function(){
        var id;
        var exist = false;
        id = $(this).attr("data-id");
        console.log(id+ "data-id");
        $('.tickets__content').empty();
        {% for ticket in tickets %}
        	if({{ticket.movieHall.id}}==id){
        		exist = true;
	        	console.log({{ticket.movieHall.id}}+ " t.mh");
		        $('.tickets__content_'+id).append(
		        	'<a href="{% url 'buyTicket' ticket_id=ticket.id %}" data-id="{{ ticket.id }}">' + ' {{ticket}}, ' + '</a>' 
		        );
	    }
	    {% endfor %}
	    if(!exist){
	    	alert("No available tickets!");
	    }
    });
    </script>		
</html>