{% extends 'blog/base.html' %}
{% block content %}
	<section class="section">
		<div class="container">
			<div class="hero">
				<div class="hero-body">
					<table class="table is-striped">
						<thead>
							<tr>
								<th><abbr title="Position">Pos</abbr></th>
								<th><abbr title="Name">Name</abbr></th>
								<th><abbr title="Reg">Registation</abbr></th>
								<th><abbr title="Lvl">Level</abbr></th>
								<th><abbr title="Rating">Rating</abbr></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>1</th>
								<td><a href="#">Some Team</a></td>
								<td>11.09.2018</td>
								<td>100</td>
								<td>1250</td>
							</tr>
							<tr>
								<th>2</th>
								<td><a href="#">Some Team</a></td>
								<td>11.09.2018</td>
								<td>100</td>
								<td>1250</td>
							</tr>
							<tr>
								<th>3</th>
								<td><a href="#">Some Team</a></td>
								<td>11.09.2018</td>
								<td>100</td>
								<td>1250</td>
							</tr>
							<tr>
								<th>4</th>
								<td><a href="#">Some Team</a></td>
								<td>11.09.2018</td>
								<td>100</td>
								<td>1250</td>
							</tr>
							<tr>
								<th>5</th>
								<td><a href="#">Some Team</a></td>
								<td>11.09.2018</td>
								<td>100</td>
								<td>1250</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
{% endblock %}