<!DOCTYPE html>
<html>
<head>
	<title>BuyTicket</title>
</head>
<body>

	<h2>Tiket № {{ticket}}</h2>
	<p>cost:  {{ticket.cost}}</p>
	<p>sold: {{ticket.sold}} </p>
	<p>in {{ticket.movieHall.hall}} in {{ticket.movieHall.hall.cinema}}</p>
	<p>
	owner: {{ticket.user}}
	</p>
	 {% if ticket.sold %}
		<p style="color: red;">unavailable to buy</p>
	 {%else%}
	 	<a class="tickets" data-id="{{ticket.id}}" href="{% url 'order' ticket_id=ticket.id %}">order ticket</a>
	 {% endif %}

	<div class="tickets__content tickets__content_{{ticket.hall.id}}"></div>
	<hr>
	{% block content %}
     {% endblock %}
     <hr>
    <a class="button" href="{% url 'myTickets' %}">My Tickets</a>
	<a href="{% url 'base' %}">show afisha</a>
</body>


</html>
